In [1]:
import pandas as pd

In [104]:
df = pd.DataFrame({'a': [1, 2], 'b': [3, 4]})

In [105]:
df

   a  b
0  1  3
1  2  4

In [106]:
df

   a  b
0  1  3
1  2  4

In [107]:
for index, row in df.iterrows():
    df.at[index, 'c'] = row['a'] + row['b']
    print(list(row))

[1, 3]
[2, 4]

In [102]:
df

   a  b    c
0  1  3  4.0
1  2  4  6.0

In [108]:
def alias_dict_by_df(alias_df):
    res = dict()
    for _, row in alias_df.iterrows():
        r = list(row)
        for val in r[1:]:
            res.update({val: r[0]})

    return res

In [110]:
d1 = alias_dict_by_df(df)

In [111]:
d1

{3.0: 1.0, 4.0: 2.0, 6.0: 2.0}

In [115]:
import yaml

ModuleNotFoundError: No module named 'yaml'

In [116]:
1+2

3

In [129]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo','ppp'], 'value': [1, 2, 3, 5, 666]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo', '111', '222', '333'], 'value': [5, 6, 7, 8]})

df1

In [130]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5
4  ppp    666

In [131]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [132]:
df1.merge(df2, how='left', left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo      5.0
1  foo        1  foo      8.0
2  bar        2  bar      6.0
3  baz        3  baz      7.0
4  foo        5  foo      5.0
5  foo        5  foo      8.0
6  ppp      666  NaN      NaN