In [1]:
1+2

3

In [13]:
import pandas as pd
import numpy as np


def crop_data(source_df:pd.DataFrame, col_name: str, sum_by: str, less_then: float, replace_with: str):

    unique_values = list(set(source_df[col_name].tolist()))

    for val in unique_values:
        s = source_df.loc[np.isin(source_df[col_name], val), sum_by].sum()
        if s < less_then:
            source_df.loc[source_df[col_name] == val, col_name] = replace_with

In [17]:
data = {'col_1': [3, 2, 1, 0.5], 'col_2': ['a', 'b', 'c', 'c']}
df = pd.DataFrame.from_dict(data)

In [18]:
crop_data(df, 'col_2', 'col_1', 0.6, 'too small')

In [19]:
df

   col_1 col_2
0    3.0     a
1    2.0     b
2    1.0     c
3    0.5     c

In [22]:
from jinja2 import Template

template = Template("""                                                     
{% for key, value in dictionary.items() recursive %}                       
  <li>{{ key }}                                                             
    {% if value %}                                                         
      Recursive {{ key }}, {{value}}                                        
      <ul>{{ loop(value.items())}}</ul>                                     
    {% endif %}                                                            
  </li>                                                                     
{% endfor %}                                                               
""")

print(template.render(dictionary={'a': {'b': {'c': {}}}}))

  <li>a

      Recursive a, {'b': {'c': {}}}
      <ul>
  <li>b

      Recursive b, {'c': {}}
      <ul>
  <li>c

  </li>
</ul>

  </li>
</ul>

  </li>